.navbar-brand img {
    max-width: 150px;
    height: auto;
    margin-right: 15px; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    padding: 5px; 
}

.navbar-brand {
    display: flex; 
    align-items: center;
}

.btn-login {
    margin-right: 20px;
    margin-left: 20px; 
    font-weight: bold; 
}
.btn-login:hover {
    color: #fff;
    background-color: #007bff; 
}

/* Footer styling */
footer {
    background-color: #010101;
    color: #fff;
    padding: 10px 50;
}

/* Footer links styling */
.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Social icons styling */
.social-icons a {
    color: #fff;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #007bff;
}

/*------CARD--------*/

.card {
    flex: 0 0 auto;
  }
  
  .card-img-top {
    width: 100%;
    height: 15vw; 
    object-fit: cover; 
  }
  
  .ratings {
    
    margin-bottom: 1rem;
  }
  
  .ratings .rating,
  .ratings .votes {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .overflow-auto {
    white-space: nowrap;
  }
  
  .card-block {
    display: inline-block;
  }
  

