.navbar-brand img {
    max-width: 150px;
    height: auto;
    margin-right: 15px; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    padding: 5px; 
}

.navbar-brand {
    display: flex; 
    align-items: center;
}

.btn-login {
    margin-right: 20px;
    margin-left: 20px; 
    font-weight: bold; 
}
.btn-login:hover {
    color: #fff;
    background-color: #007bff; 
}

footer {
    width: 100%;
    background-color: #343a40; 
    color: #fff; 
    padding: 30px 0; 
    bottom: 0;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
}

.social-icons a:hover {
    color: #007bff;
}

.d-flex justify-content-center {
    margin: 10px;
    align-content: center; 
}
.col-md-6 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Custom CSS for error styling */
input:invalid {
    border: 1px solid red !important;
}

.invalid-feedback::before {
    /* Exclamation mark */
    color: red;
}

.exclamation-mark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: red;
}
